<center>
<h1> Learning Python </h1>

![image](http://j.mp/1NxKtmF)
</center>

# Comparing languages code

## Hello world: Python *VS* Java

```python
# This is Python
>>> print("Hello world!")
```

```java
# This is Java
public class Hello
{
    public static void main(String[] args) {
        System.out.printf("Hello world!");
    }
}
```

## Reading a file: Python *VS* C

```python
# This is a python script
in = open("input.txt")
out = open("output.txt","w")
out.writelines(in)
in.close()
out.close()
```

```c
// This is C code

#include <stdio.h>
int main(int argc, char **argv) {
    FILE *in, *out;
    int c;
    in = fopen("input.txt", "r");
    out = fopen("output.txt", "w");
    while ((c = fgetc(in)) != EOF)
    {
        fputc(c, out);
    }
    fclose(out);
    fclose(in);
}
```

```python
# Python one liner
open("output.txt", "w").writelines(open("input.txt"))
```

# Python flavors

Python interpreter can be found written in many low level languages

* Cython (default)
* Jython
* Pypy (!)
* ...and many more

# Python versions

In [7]:
%%python2
print "I am Python 2"

I am Python 2

In [8]:
%%python3
print("I am Python 3")

I am Python 3

In [9]:
%%python3
print "I am Python 3"

  File "<stdin>", line 1
    print "I am Python 3"
                        ^
SyntaxError: Missing parentheses in call to 'print'

Python 3 is our base when we write applications.

<small>(see off-topics for deep understanding)</small>

# First steps

## Print functions

In [20]:
%%python2
print "Hello World!"
# Add semicolon
print "Hello World!";
# Add parentesis
print("Hello World!")
# Both
print("Hello World!");
# Add coma
print "Hello", "World!"
# ..in the end
print "Hello World!",
# But how many...?
print("Hello World!",)
# Uhm
print("Hello", "World!")

Hello World!
Hello World!
Hello World!
Hello World!
Hello World!
Hello World! ('Hello World!',)
('Hello', 'World!')

In [34]:
%%python3
print("Hello World!")  # one parameter
print("Hello", "World!")  # two parameters
print("Hello", "World!", sep=",")  # specify separator

Hello World!
Hello World!
Hello,World!

`print` is now a **normal function**

## Input request

In [37]:
name = input("Enter your name:")

Enter your name:Paolo

In [38]:
print(name)

Paolo

In [39]:
eval(input("Operation: "))

Operation: 2+2

4

## Mathematical

### Operations

In [41]:
1+1

2

In [42]:
3*2

6

In [43]:
4-7

-3

In [44]:
9/4

2.25

In [45]:
2**8/2+100

228.0

In [54]:
10/5

2.0

In [56]:
10//2

5

In [55]:
10/3

3.3333333333333335

In [57]:
10//3

3

### On other values

In [46]:
1+1

2

In [47]:
'1' + '1'

'11'

In [48]:
"A string of" + 'characters'

'A string ofcharacters'

In [49]:
"The answers is " + 42

TypeError: Can't convert 'int' object to str implicitly

In [50]:
"The answers is " + str(42)

'The answers is 42'

In [51]:
"The answers is %s" % 42

'The answers is 42'

In [52]:
# Assign the value to a variable
n = 42
# Use the variable in my operation
"The answers is %s" % n

'The answers is 42'

In [53]:
s = 'answers'
n = 42
"The %s is %s" % (s, n)

'The answers is 42'

# Exercise

* Request a number
* Sum the value 'one' to that number
* Multiply the result times 'four'

(can you do the operations all in one line?)

# Batch mode

In [59]:
%%writefile script.py 
print("Hello batch mode")

Writing script.py

In [60]:
%%bash
python script.py

Hello batch mode

In [73]:
%%writefile script.py
#!/usr/bin/env python3
# -*- coding: utf-8 -*-
print("Hello World!")

Overwriting script.py

In [76]:
%%bash

# Make the script executable
chmod +x script.py
# Execute the script like C compiled binaries
./script.py

Hello World!
TEST

Without encoding comment, Python’s parser will assume ASCII (It’s the default encoding)

## Did you notice the editor?

# Exercise

Write and execute a script that does the following:

* Request a number
* Divide the value obtained by 'five'
* Multiply the result times 'four'

(Note: we don't want the decimal values)

# The modules *concept*

Most of Python functionalities would be found in *modules*.

The **Python Standard Library** is the collection of basic module implemented cross-platform.

 http://docs.python.org/3/library/

In [78]:
# import a module
import math
# now you can access objects inside that module
math.cos(2 * math.pi)

1.0

In [4]:
# Use a mathematical function
from math import factorial
factorial(10)

3628800

## import or from

```python
import sound.effects.echo.echofilter 
sound.effects.echo.echofilter(...) 

import sound.effects.echo 
sound.effects.echo.echofilter(...) 

from sound.effects import echo
echo.echofilter(...)

from sound.effects.echo import echofilter
echofilter(...)

```

what is the difference?

# End of Chapter

In [9]:
%reload_ext version_information
%version_information

Software versions
Python 3.5.0 64bit [GCC 4.4.7 20120313 (Red Hat 4.4.7-1)]
IPython 4.0.0
OS Linux 4.1.12 boot2docker x86_64 with debian jessie sid
Fri Nov 27 11:08:44 2015 UTC