# Data interaction

How to be [**#kungfupandas**]()

In [1]:
import pandas as pd

###Read file

Define files and column to be read

In [2]:
datafile = 'data/num.csv.gz'
infofile = 'data/num.csv.info'
cols_num = 3

Read columns from information file

In [3]:
cols_name = []
with open(infofile) as f:
    for row in f.read().splitlines():
        cols_name.append(row.split()[0])
#len(cols_name)

Read the file with pandas!

In [ ]:
# if you need help 
?pd.read_csv

In [5]:
A = pd.read_csv(datafile, header=None, names=cols_name[0:cols_num], usecols=range(0, cols_num))

### Now you have a DataFrame

In [6]:
type(A)

pandas.core.frame.DataFrame

In [7]:
A.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 71436 entries, 0 to 71435
Data columns (total 3 columns):
Elevation    71436 non-null int64
Aspect       71436 non-null int64
Slope        71436 non-null int64
dtypes: int64(3)
memory usage: 2.2 MB

In [8]:
# First five lines
A.head()

   Elevation  Aspect  Slope
0       2596      51      3
1       2590      56      2
2       2804     139      9
3       2785     155     18
4       2595      45      2

In [9]:
#Last five lines
A.tail()

       Elevation  Aspect  Slope
71431       2919      78      8
71432       2912      97      6
71433       2911     207      1
71434       2912      74      3
71435       2910      72      5

<hr>