# Data interaction

##Pandas
**Pan**el **Da**ta **S**ystem 


- Python data analysis library 
- Built on top of Numpy 
- Open Sourced by AQR Capital Management, LLC in late 2009
- 30.000 lines of tested Python/Cython code 
- Used in production by many companies

Level up

In [2]:
import pandas as pd

Now we can do [**#kungfupandas**]()

<img src='http://j.mp/1Ixu8eH' width=400>

## Kungfu get

###Read a file

Define files and column to be read

In [2]:
datafile = 'data/num.csv.gz'
infofile = 'data/num.csv.info'
cols_num = 3

Read columns from information file

In [3]:
cols_name = []
with open(infofile) as f:
    for row in f.read().splitlines():
        cols_name.append(row.split()[0])
#len(cols_name)

Read the file with pandas!

In [ ]:
# if you need help 
?pd.read_csv

In [5]:
A = pd.read_csv(datafile, header=None, names=cols_name[0:cols_num], usecols=range(0, cols_num))

### Now you have a DataFrame

In [6]:
type(A)

pandas.core.frame.DataFrame

In [7]:
A.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 71436 entries, 0 to 71435
Data columns (total 3 columns):
Elevation    71436 non-null int64
Aspect       71436 non-null int64
Slope        71436 non-null int64
dtypes: int64(3)
memory usage: 2.2 MB

In [8]:
# First five lines
A.head()

   Elevation  Aspect  Slope
0       2596      51      3
1       2590      56      2
2       2804     139      9
3       2785     155     18
4       2595      45      2

In [9]:
#Last five lines
A.tail()

       Elevation  Aspect  Slope
71431       2919      78      8
71432       2912      97      6
71433       2911     207      1
71434       2912      74      3
71435       2910      72      5

# DATA FRAMES

* A table-like data structure
* Commands for user to interact and modify the structure

Axis Indexing • Every axis has an index • Highly optimized data structure • Hierarchical indexing • group by and join-type operationsFriday, May 18, 2012

* They can be compared with *R language* and **data.table** class
    - Basically a pythonic data.frame
    - but with automatic data alignment!
    - Arithmetic operations align on row and column labels

You may read more on the [pandas website](http://pandas.pydata.org/pandas-docs/stable/comparison_with_r.html)

<hr>

## Kungfu columns

<hr>

## Reading from a remote source

In [3]:
# read CSV file directly from a URL and save the results
data = pd.read_csv('http://www-bcf.usc.edu/~gareth/ISL/Advertising.csv', index_col=0)
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 200 entries, 1 to 200
Data columns (total 4 columns):
TV           200 non-null float64
Radio        200 non-null float64
Newspaper    200 non-null float64
Sales        200 non-null float64
dtypes: float64(4)
memory usage: 7.8 KB